In [91]:
import pandas as pd
import numpy as np

*1. Write a Pandas program to create and display a one-dimensional array-like object containing an array of data using Pandas module.*

In [92]:
arr = np.array(np.arange(1,15,3), np.int64)
obj = pd.Series(arr)
obj

0     1
1     4
2     7
3    10
4    13
dtype: int64

*2. Write a Pandas program to convert a Panda module Series to Python list and it's type.*

In [93]:
series = pd.Series([1,2,3,4,5])
print(type(series))
list = series.tolist()
print(type(list))

<class 'pandas.core.series.Series'>
<class 'list'>

*3. Write a Pandas program to add, subtract, multiple and divide two Pandas Series.Sample Series: [2, 4, 6, 8, 10], [1, 3, 5, 7, 9]*

In [94]:
series1 = pd.Series([2,4,6,8,10])
series2 = pd.Series([1,3,5,7,10])
print(series1+series2)
print(series1 - series2)
print(series1 * series2)
print(series1 / series2)

0     3
1     7
2    11
3    15
4    20
dtype: int64
0    1
1    1
2    1
3    1
4    0
dtype: int64
0      2
1     12
2     30
3     56
4    100
dtype: int64
0    2.000000
1    1.333333
2    1.200000
3    1.142857
4    1.000000
dtype: float64

*4. Write a Pandas program to compare the elements of the two Pandas Series.Sample Series: [2, 4, 6, 8, 10], [1, 3, 5, 7, 10]*

In [95]:
print("Equal")
print(series1 == series2)
print("Is series1 greater than series2?")
print(series1 > series2)
print("Is series1 less than series2?")
print(series1 < series2)

Equal
0    False
1    False
2    False
3    False
4     True
dtype: bool
Is series1 greater than series2?
0     True
1     True
2     True
3     True
4    False
dtype: bool
Is series1 less than series2?
0    False
1    False
2    False
3    False
4    False
dtype: bool

*5.Wap to convert dictionary to pandas Series*

In [96]:
dict = {'a':100, 'b':200, 'c':300, 'd':400}
k = []
v = []
for key, value in dict.items():
    k.append(key)
    v.append(value)
series3 = pd.Series(k, index = v)
series3

100    a
200    b
300    c
400    d
dtype: object

*6.Write a Pandas program to convert a NumPy array to a Pandas series.*

In [97]:
series4 = pd.Series(arr)
series4

0     1
1     4
2     7
3    10
4    13
dtype: int64

*7.Write a Pandas program to change the data type of given a column or a Series.*

In [98]:
object_datatype = pd.Series([1, 2.3, 222, 'Pandas', '30.99999'])
print(object_datatype)


# Conversion of datatype from object to float
np_array = object_datatype.to_numpy()
for n in range(len(np_array)):
    if type(np_array[n]) == str:
        np_array[n] = np.nan
# The astype() function creates a copy of the array, and allows you to specify the data type as a parameter.
new_array = np_array.astype(float)
float_datatype = pd.Series(new_array)


# Printing the new Series of Datatype float
print(f'\n{float_datatype}')

0           1
1         2.3
2         222
3      Pandas
4    30.99999
dtype: object

0      1.0
1      2.3
2    222.0
3      NaN
4      NaN
dtype: float64

*8. Write a Pandas program to convert the first column of a DataFrame as a Series.*

In [99]:
df_dict = {'col1':[1,2,3], 'col2':[99,98,97], 'col3':[50,1,23]}
df = pd.DataFrame(df_dict)
print(df)

# First column as series
s_col1 = df['col1'].to_numpy()
series5 = pd.Series(s_col1, index = ['a', 'b', 'c'])
print('\nFirst column of the dataframe to series:')
print(series5)
print(type(series5))

# Second column as series
s_col2 = df['col2'].to_numpy()
series6 = pd.Series(s_col2, index = ['a', 'b', 'c'])
print('\nSecond column of the dataframe to series:')
print(series6)
print(type(series6))

# Third column as series
s_col3 = df['col3'].to_numpy()
series7 = pd.Series(s_col3, index = ['a', 'b', 'c'])
print('\nThird column of the dataframe to series:')
print(series7)
print(type(series7))

   col1  col2  col3
0     1    99    50
1     2    98     1
2     3    97    23

First column of the dataframe to series:
a    1
b    2
c    3
dtype: int64
<class 'pandas.core.series.Series'>

Second column of the dataframe to series:
a    99
b    98
c    97
dtype: int64
<class 'pandas.core.series.Series'>

Third column of the dataframe to series:
a    50
b     1
c    23
dtype: int64
<class 'pandas.core.series.Series'>

*9. Write a Pandas program to convert a given Series to an array.*

In [100]:
series8 = pd.Series([1, 2.3, 222, 'Pandas', '30.99999'])
print("Original Series is:")
print(series8)

#Conversion using to_numpy() function
series_array = series8.to_numpy()
print(f"Series to array:{series_array}")
print(type(series_array))

Original Series is:
0           1
1         2.3
2         222
3      Pandas
4    30.99999
dtype: object
Series to array:[1 2.3 222 'Pandas' '30.99999']
<class 'numpy.ndarray'>

*10. Write a Pandas program to convert Series of lists to one Series.*

In [101]:
series_list = pd.Series([['Red', 'Green', 'White'],['Blue', 'Pink', 'Yellow'], 'Gray', ['Black', 'Brown']])
print("Original Series of list:")
print(series_list)

# Conversion to Series with one element

# .apply() applies pd.Series() method to all the elements in a column of Series.
series_list = series_list.apply(pd.Series)
print("Output after apply() function:")
print(series_list)

# .stack() is used for reshaping the dataframe. Transfoms the multilevel column header to multilevel index.
series_list = series_list.stack()
print("Output after using .stack() function")
print(series_list)

# .reset_index() is used to reset the index of Series, DataFrame or multilevel index back to the default integer value
series_list.reset_index(drop=True, inplace=True)
print("Output after resetting the index and deleting the previous index:")
print(series_list)

Original Series of list:
0     [Red, Green, White]
1    [Blue, Pink, Yellow]
2                    Gray
3          [Black, Brown]
dtype: object
Output after apply() function:
       0      1       2
0    Red  Green   White
1   Blue   Pink  Yellow
2   Gray    NaN     NaN
3  Black  Brown     NaN
Output after using .stack() function
0  0       Red
   1     Green
   2     White
1  0      Blue
   1      Pink
   2    Yellow
2  0      Gray
3  0     Black
   1     Brown
dtype: object
Output after resetting the index and deleting the previous index:
0       Red
1     Green
2     White
3      Blue
4      Pink
5    Yellow
6      Gray
7     Black
8     Brown
dtype: object

In [102]:
# Alternative way
series_list = series_list.apply(pd.Series).stack().reset_index(drop=True)
print(series_list)

0       Red
1     Green
2     White
3      Blue
4      Pink
5    Yellow
6      Gray
7     Black
8     Brown
dtype: object

*11. Write a Pandas program to sort a given Series.*

In [103]:
series9 = pd.Series([100, 200, 'python', 300.12, 400])
print("Original series:")
print(series9)

# Sorting the given pandas series
# 1st method
string_array = np.array([])
for value in series9:
    if type(value) == str:
        string_array = np.append(string_array, [value]) # adds 'value' element to string_array 

# 2nd method
numeric_array = np.array([value for value in series9 if type(value)!=str], np.str_)

# concatenates two or more array like obj along the specified axis. Default axis is 0.
# The use of square brackets [] in np.concatenate([]) is to create a list containing the arrays that you want to concatenate. 
series10 = pd.Series(np.concatenate([numeric_array, string_array], axis=0)) 
print('\nSorted out series is:')
print(series10)

Original series:
0       100
1       200
2    python
3    300.12
4       400
dtype: object

Sorted out series is:
0       100
1       200
2    300.12
3       400
4    python
dtype: object

*12. Wap to add some data to existing series.*

In [104]:
print("Series10 after adding the data to axis 0.")
# pd.concat() adds series and series or dataframes and series or along the axis specified . Default axis is 0.
series11 = pd.concat([series10, pd.Series(['500', 'php'])], axis=0, ignore_index=True)
print(series11)

Series10 after adding the data to axis 0.
0       100
1       200
2    300.12
3       400
4    python
5       500
6       php
dtype: object

*13. Write a Pandas program to create a subset of a given series based on value and condition.*

In [131]:
series12 = pd.Series([421,2342,2343,234,2435,2346,237,84,292,100])
series12.sort_values(ascending=True, inplace=True)
series12.reset_index(drop=True, inplace=True)
print("Original series is:")
print(series12)

# Defining the condition
condititon = series12 < 948

# Subset of the original series
series13 = series12[condititon]
print("\nSubset of the original series is:")
print(series13)

Original series is:
0      84
1     100
2     234
3     237
4     292
5     421
6    2342
7    2343
8    2346
9    2435
dtype: int64

Subset of the original series is:
0     84
1    100
2    234
3    237
4    292
5    421
dtype: int64

*14. Wap to change the given index of the series.*

In [132]:
series12.index = ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J']
print(series12)

A      84
B     100
C     234
D     237
E     292
F     421
G    2342
H    2343
I    2346
J    2435
dtype: int64