In [2]:
import pandas as pd
import numpy as np

*1. Write a Pandas program to create and display a one-dimensional array-like object containing an array of data using Pandas module.*

In [3]:
arr = np.array(np.arange(1,15,3), np.int64)
obj = pd.Series(arr)
obj

0     1
1     4
2     7
3    10
4    13
dtype: int64

*2. Write a Pandas program to convert a Panda module Series to Python list and it's type.*

In [4]:
series = pd.Series([1,2,3,4,5])
print(type(series))
list = series.tolist()
print(type(list))

<class 'pandas.core.series.Series'>
<class 'list'>

*3. Write a Pandas program to add, subtract, multiple and divide two Pandas Series.Sample Series: [2, 4, 6, 8, 10], [1, 3, 5, 7, 9]*

In [5]:
series1 = pd.Series([2,4,6,8,10])
series2 = pd.Series([1,3,5,7,10])
print(series1+series2)
print(series1 - series2)
print(series1 * series2)
print(series1 / series2)

0     3
1     7
2    11
3    15
4    20
dtype: int64
0    1
1    1
2    1
3    1
4    0
dtype: int64
0      2
1     12
2     30
3     56
4    100
dtype: int64
0    2.000000
1    1.333333
2    1.200000
3    1.142857
4    1.000000
dtype: float64

*4. Write a Pandas program to compare the elements of the two Pandas Series.Sample Series: [2, 4, 6, 8, 10], [1, 3, 5, 7, 10]*

In [6]:
print("Equal")
print(series1 == series2)
print("Is series1 greater than series2?")
print(series1 > series2)
print("Is series1 less than series2?")
print(series1 < series2)

Equal
0    False
1    False
2    False
3    False
4     True
dtype: bool
Is series1 greater than series2?
0     True
1     True
2     True
3     True
4    False
dtype: bool
Is series1 less than series2?
0    False
1    False
2    False
3    False
4    False
dtype: bool

*5.Wap to convert dictionary to pandas Series*

In [7]:
dict = {'a':100, 'b':200, 'c':300, 'd':400}
k = []
v = []
for key, value in dict.items():
    k.append(key)
    v.append(value)
series3 = pd.Series(k, index = v)
series3

100    a
200    b
300    c
400    d
dtype: object

*6.Write a Pandas program to convert a NumPy array to a Pandas series.*

In [8]:
series4 = pd.Series(arr)
series4

0     1
1     4
2     7
3    10
4    13
dtype: int64

*7.Write a Pandas program to change the data type of given a column or a Series.*

In [9]:
object_datatype = pd.Series([1, 2.3, 222, 'Pandas', '30.99999'])
print(object_datatype)


# Conversion of datatype from object to float
np_array = object_datatype.to_numpy()
for n in range(len(np_array)):
    if type(np_array[n]) == str:
        np_array[n] = np.nan
# The astype() function creates a copy of the array, and allows you to specify the data type as a parameter.
new_array = np_array.astype(float)
float_datatype = pd.Series(new_array)


# Printing the new Series of Datatype float
print(f'\n{float_datatype}')

0           1
1         2.3
2         222
3      Pandas
4    30.99999
dtype: object

0      1.0
1      2.3
2    222.0
3      NaN
4      NaN
dtype: float64

*8. Write a Pandas program to convert the first column of a DataFrame as a Series.*

In [10]:
df_dict = {'col1':[1,2,3], 'col2':[99,98,97], 'col3':[50,1,23]}
df = pd.DataFrame(df_dict)
print(df)

# First column as series
s_col1 = df['col1'].to_numpy()
series5 = pd.Series(s_col1, index = ['a', 'b', 'c'])
print('\nFirst column of the dataframe to series:')
print(series5)
print(type(series5))

# Second column as series
s_col2 = df['col2'].to_numpy()
series6 = pd.Series(s_col2, index = ['a', 'b', 'c'])
print('\nSecond column of the dataframe to series:')
print(series6)
print(type(series6))

# Third column as series
s_col3 = df['col3'].to_numpy()
series7 = pd.Series(s_col3, index = ['a', 'b', 'c'])
print('\nThird column of the dataframe to series:')
print(series7)
print(type(series7))

   col1  col2  col3
0     1    99    50
1     2    98     1
2     3    97    23

First column of the dataframe to series:
a    1
b    2
c    3
dtype: int64
<class 'pandas.core.series.Series'>

Second column of the dataframe to series:
a    99
b    98
c    97
dtype: int64
<class 'pandas.core.series.Series'>

Third column of the dataframe to series:
a    50
b     1
c    23
dtype: int64
<class 'pandas.core.series.Series'>

*9. Write a Pandas program to convert a given Series to an array.*

In [11]:
series8 = pd.Series([1, 2.3, 222, 'Pandas', '30.99999'])
print("Original Series is:")
print(series8)

#Conversion using to_numpy() function
series_array = series8.to_numpy()
print(f"Series to array:{series_array}")
print(type(series_array))

Original Series is:
0           1
1         2.3
2         222
3      Pandas
4    30.99999
dtype: object
Series to array:[1 2.3 222 'Pandas' '30.99999']
<class 'numpy.ndarray'>

*10. Write a Pandas program to convert Series of lists to one Series.*

In [14]:
series_list = pd.Series([['Red', 'Green', 'White'],['Blue', 'Pink', 'Yellow'], 'Gray', ['Black', 'Brown']])
print("Original Series of list:")
print(series_list)

# Conversion to Series with one element

Original Series of list:
0     [Red, Green, White]
1    [Blue, Pink, Yellow]
2                    Gray
3          [Black, Brown]
dtype: object

[['Red', 'Green', 'White'],
 ['Blue', 'Pink', 'Yellow'],
 'Gray',
 ['Black', 'Brown']]